html {
    height: 100%;
}

body {
    text-align: center;
    background-color: rgb(255, 205, 80);
    height: 100%;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 2px solid black;
    margin: 3em;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: floralwhite;
}

tr {
    height: 2em;
}

td {
    width: 2em;
}

input[type=number] {
    width: 10em;
}

footer {

    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}